<h1>Create a new Goodwill site</h1>

<%= simple_form_for @site do |f| %>
  <%= f.input :name %>
  <%= f.input :site_number %>
  <%= f.input :site_type %>
  <%= f.button :submit, "Create Site" %>
<% end %>