<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @site.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @site.site_type %>
</p>

<p>
  <strong>ID:</strong>
  <%= @site.site_number %>
</p>

<% Inspection.all.each do |form| %>
      <%= link_to "#{form.name}", inspection_path(form) %>
       <% end %>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>