<p id="notice"><%= notice %></p>

<p>
  <h2>Details for: <%= @site.name %></h2>
</p>

<p>
  <strong>Type:</strong>
  <%= @site.site_type %>
</p>

<p>
  <strong>ID:</strong>
  <%= @site.site_number %>
</p>

<% if @inspections.present? %>

	<h3>Inspections</h3>
	<table>
		<thead>
			<th>Name</th>
			<th>Date</th>
		</thead>

		<tbody>
			<% @inspections.each do |inspection| %>
			  <tr>

			  	<td><%= link_to "#{Survey.find(inspection.survey_id).name}", edit_survey_path(Survey.find(inspection.survey_id), :site_id => @site.id) %></td>
			  	<td><%= inspection.updated_at.strftime("%m/%d/%Y") %></td>
			  </tr>
			<% end %>
		</tbody>
	</table>
<% end %>



<%= link_to 'New Inspection', new_inspection_path(:site_id => @site.id) %> | 
<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>


