
<%= will_paginate @items %>

<% for item in @items %>

<%= form_for(@general) do |f| %>
    <h3><%= "#{item.category}" %></h3>
    <div class="item_enclosure row">
    	<div class="item_text small-9 large-9 columns">
    		<%= "#{item.name}" %>
    	</div>
        <div class="small-3 columns">
            <div class="item_scoring">
                <div class="row">
                    <div class="item_score item-<%= item.id %> small-6 columns">
                        <%= f.text_field :score_item %>
                    </div>
                </div>
            </div>
        </div>
    </div>






  <%= f.submit submit_text %>
<% end %>
<% end %>