
<%= will_paginate @items %>



<%= form_for(@general) do |f| %>
<% for item in @items %>    
  <h3><%= "#{item.sub_category}" %></h3>
    <div class="item_enclosure row">
    	<div class="item_text small-9 large-9 columns">
    		<%= "#{item.name}" %>
    	</div>
        <div class="small-3 columns">
            <div class="item_scoring">
                <div class="row">
                    <div class="item_score item-<%= item.id %> small-6 columns">
                        <%= f.text_field :score_item, placeholder: item.high_score %>
                        <%= f.hidden_field :inspection_id, value: params[:id] %>
                        <%= f.hidden_field :item_id, value: item.id %>
                        <%= f.hidden_field :type, value: 'General' %>
                    </div>

                    <div class="item_hiscore item-<%= item.id %> small-6 columns">
                        / <%= item.high_score %>
                    </div>
                </div>
            </div>
        </div>
    </div>





<% end %>
  <%= f.submit submit_text %>

<% end %>