
<%= will_paginate @items %>



<%= form_for @inspection do |f| %>
<%= f.hidden_field :survey_id, value: @inspection.survey_id %>

<%# @items.each do |item| %>
<% for item in @items %>
  <h3><%= "#{item.sub_category}" %></h3>

    <div class="item_enclosure row">
    	<div class="item_text small-9 large-9 columns">
    		<%= "#{item.name}" %>
            <% if item.explanation? %>
                  </ br><%= simple_format h(item.explanation) %>
                <% end %>
    	</div>
        <div class="small-3 columns">
            <div class="item_scoring">
                <div class="row">
                    <div class="item_score item-<%= item.id %> small-6 columns">
                        <%= fields_for @score do |builder| %>
                        <%= builder.text_field :score_item, placeholder: item.high_score %>
                        <%= builder.hidden_field :item_id, value: item.id %>
                        <% end %>
                    </div>

                    <div class="item_hiscore item-<%= item.id %> small-6 columns">
                        / <%= item.high_score %>
                    </div>
                </div>
            </div>
        </div>
    </div>





<% end %>
  <%= f.submit submit_text %>

<% end %>
